body {
  font-family: 'Arial', sans-serif;
}

.toast {
  padding: 1rem 2rem;
  background: yellow;
  max-width: 60ch;
  border-radius: 10px;
  margin: 10px 0;
  font-weight: 800;
}

.toast-error {
  background: #ffb5c4;
  color: #3d0101;
}

.toast-success {
  background: #adffb7;
  color: #013d1f;
}